---
apiVersion: v1
kind: Service
metadata:
  name: peo-gestao-alunos-webapi
spec:
  type: ClusterIP
  selector:
    app: peo-gestao-alunos-webapi
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  - name: https
    port: 8443
    targetPort: 8443
